{% extends '::base.html.twig' %}

{% block body %}
    <header id="header">
        <div class="container">
            <div class="pull-right well">
                {% if is_granted('ROLE_USER') %}
                    {{ app.user }} &rarr; <a href="{{ path('logout') }}">Log Out</a><br />
                    Votes: {{ app.user.remainingVotes }}
                {% else %}
                    <a href="{{ path('login') }}">Log In</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div id="content" class="container">
        <div class="row-fluid">
            <div class="span7">
                <ul class="breadcrumb">
                    <li><a id="home_link" href="{{ path('homepage') }}">Home</a><span class="divider">/</span></li>
                    {% block idea_breadcrums %}
                        <li><a class="" href="{{ path('idea_list') }}">Ideas</a><span class="divider">/</span></li>
                    {% endblock %}
                    {% block issue_breadcrums %}
                        <li><a class="" href="{{ path('issue_list') }}">Issues</a><span class="divider">/</span></li>
                    {% endblock %}
                </ul>
                {% block content %}
                {% endblock %}
            </div>
            <div id="feed" class="span5 well">
                <h2>{{ twp_name }} Blog articles</h2>
                <div id="feed-content">
                    <div style="text-align: center;">Loading...</div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer"></footer>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/css/main.css">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript">
$(window).load(function(){
    $('#feed-content').load('{{ path('rss') }}');
});
if($('.breadcrumb .active').length == 0)
{
    $('.breadcrumb #home_link').addClass('active');
}
</script>
{% endblock %}