{% extends 'TwpDashboardBundle::layout.html.twig' %}

{% block content %}
<section>
    <h1>TWP Community</h1>
    <ul id="dashboard-tabs">
        <li><a id="new-idea" class="new-button" href="#">Add Idea</a></li>
        <li><a id="new-issue" class="new-button" href="#">Add Issue</a></li>
    </ul>
    <div id="dashboard-panes">
        <div id="new-idea-form">
            <form action="{{ path('homepage') }}" method="post" {{ form_enctype(ideaForm) }}>
                <h2>I suggest you...</h2>
                {{ form_widget(ideaForm) }}
                <input type="Submit" value="Add"/>
            </form>
        </div>
        <div id="new-issue-form">
            <form action="{{ path('homepage') }}" method="post" {{ form_enctype(issueForm) }}>
                <h2>You need to fix....</h2>
                {{ form_widget(issueForm) }}
                <input type="Submit" value="Add"/>
            </form>
        </div>
    </div>
</section>
<section>
    {% include 'TwpIdeaBundle:Idea:_list.html.twig' with { 'ideas': topIdeas } %}
</section>
{% endblock %}
