<article class="issue">
    <div class="list-left">
        <div class="issue-count">
            <h4>{{ issue.affectedUsers.count }}</h4>
            <strong>User{{ issue.affectedUsers.count > 1 ? 's' : '' }}</strong>
        </div>
        {% if is_granted('ROLE_USER') %}
            <a class="btn watch {{ issue.affectedUsers.contains(app.user) ? 'active' : ''  }}" href="{{ path(issue.affectedUsers.contains(app.user) ? 'issue_unmark' : 'issue_mark', { 'id': issue.id })  }}">Me too!</a>
        {% endif %}
    </div>
    <div class="list-right">
        <h4><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.title }}</a></h4>
        <p>{{ issue.content | nl2br }}</p>
        <footer>
            <span class="label label-{{ issue.currentStatus }}">{{ issue.currentStatus }}</span>
            by <span class="text-info">{{ issue.user }}</span>
            <small>{{ issue.createdAt.format("F d, Y g:i a") }}</small>
        </footer>
    </div>
</article>

