<article class="issue">
    {% if is_granted('ROLE_USER') %}
        <a class="watch {{ issue.affectedUsers.contains(app.user) ? 'active' : ''  }}" href="{{ path(issue.affectedUsers.contains(app.user) ? 'issue_unmark' : 'issue_mark', { 'id': issue.id })  }}">Me too!</a>
    {% endif %}
    <header><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.title }}</a></header>
    <section>{{ issue.content }}</section>
    <footer>{{ issue.currentStatus }}</footer>
</article>

