{% extends twp_issue_layout %}

{% block content %}
{% include 'TwpIssueBundle:Issue:_listItem.html.twig' with { 'issue': issue } %}
<div class="comments">
    <form action="{{ path('issue_show', { 'id': issue.id }) }}" method="post" {{ form_enctype(commentForm) }}>
        {{ form_widget(commentForm) }}
        <input type="Submit" value="Post"/>
    </form>
    {% for comment in issue.comments %}
        <section class="comment">
            <header>
                <span class="label label-{{ comment.status }}">{{ comment.status ? comment.status : '' }}</span>
                <span class="text-info">{{ comment.user }}</span>
                <small>{{ comment.createdAt.format('F d, Y g:i a') }}</small>
            </header>
            <p>{{ comment.content | nl2br }}</p>
        </section>
    {% endfor %}
</div>
{% endblock  %}