{% extends twp_issue_layout %}

{% block issue_breadcrums %}
    <li>
        <a href="{{ path('issue_list') }}">Issues</a>
        <a class="active" href="{{ path('issue_show', { 'id': issue.id }) }}"><span class="lead">&rarr;</span> #{{ issue.id }}</a>
        <span class="divider">/</span>
    </li>
{% endblock %}

{% block content %}
{% include 'TwpIssueBundle:Issue:_listItem.html.twig' with { 'issue': issue } %}
<div class="comments  offset2 span10">
    <form action="{{ path('issue_show', { 'id': issue.id }) }}" method="post" {{ form_enctype(commentForm) }}>
        {{ form_widget(commentForm) }}
        <input class="btn" type="Submit" value="Post comment"/>
    </form>
    {% for comment in issue.comments %}
        <section class="comment">
            <header>
                <span class="label label-{{ comment.status }}">{{ comment.status ? comment.status : '' }}</span>
                <span class="text-info">{{ comment.user }}</span>
                <small>{{ comment.createdAt.format('F d, Y g:i a') }}</small>
            </header>
            <p>{{ comment.content | nl2br }}</p>
        </section>
    {% endfor %}
</div>
{% endblock  %}