<div class="vote">
    <div class="votes-count">
        <h4>{{ idea.votes.count }}</h4>
        <strong>Vote{{ idea.votes.count > 1 ? 's' : '' }}</strong>
    </div>
    <div class="btn-group">
        {% set votedHere = 0 %}
        {% if is_granted('ROLE_USER') %}
            {% set votedHere = app.user.getVotesForIdea(idea) | length %}
        {% endif %}
        <a class="vote-btn btn dropdown-toggle {{ votedHere ? 'active' : '' }}"  data-toggle="dropdown" href="#">Vote <span class="caret"></span></a>
        {% if is_granted('ROLE_USER') %}
            {% set remainingVotes = app.user.remainingVotes + votedHere %}
            <ul class="dropdown-menu">
            {% if remainingVotes %}
                        <li class="{{ votedHere == 1 ? 'active' : '' }}"><a href="{{ path('idea_vote', { 'id': idea.id, 'votes': 1 }) }}">1 Vote</a></li>
                    {% if remainingVotes > 1 %}
                        <li class="{{ votedHere == 2 ? 'active' : '' }}"><a href="{{ path('idea_vote', { 'id': idea.id, 'votes': 2 }) }}">2 Vote</a></li>
                    {% endif %}
                    {% if remainingVotes > 2 %}
                        <li class="{{ votedHere == 3 ? 'active' : '' }}"><a href="{{ path('idea_vote', { 'id': idea.id, 'votes': 3 }) }}">3 Vote</a></li>
                    {% endif %}
                    {% if votedHere and idea.user != app.user %}
                        <li><a href="{{ path('idea_vote', { 'id': idea.id, 'votes': 0 }) }}">Remove votes</a></li>
                    {% endif %}
            {% else %}
                <li>You have no votes left. Please wait until your voted ideas are closed to gain your votes back.</li>
            {% endif %}
            </ul>
        {% else %}
            <a href="{{ path('login') }}">Sign in to vote</a>
        {% endif %}
    </div>
</div>