{% extends twp_idea_layout %}

{% block idea_breadcrums %}
    <li>
        <a href="{{ path('idea_list') }}">Ideas</a>
        <a class="active" href="{{ path('idea_show', { 'id': idea.id }) }}"><span class="lead">&rarr;</span> #{{ idea.id }}</a>
        <span class="divider">/</span>
    </li>
{% endblock %}

{% block content %}
{% include 'TwpIdeaBundle:Idea:_listItem.html.twig' with { 'idea': idea } %}
<div class="comments offset2 span10">
    {% if not idea.closed or is_granted('ROLE_FEEDBACK_ADMIN') %}
    <form action="{{ path('idea_show', { 'id': idea.id }) }}" method="post" {{ form_enctype(commentForm) }}>
        {{ form_widget(commentForm) }}
        <input class="btn" type="Submit" value="Post comment"/>
    </form>
    {% endif %}
    {% for comment in idea.comments %}
        <section class="comment">
            <header>
                <span class="label label-{{ comment.status }}">{{ comment.status ? comment.status : '' }}</span>
                <span class="text-info">{{ comment.user }}</span>
                <small>{{ comment.createdAt.format('F d, Y g:i a') }}</small>
            </header>
            <p>{{ comment.content | nl2br }}</p>
        </section>
    {% endfor %}
</div>
{% endblock  %}